@import "tailwind";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

html {
    font-family: "Poppins", sans-serif;
    color: #080939;
}

.bg-primary {
    background: #fff5f7;
}

.bg-red {
    background: #fff5f7;
}
.bg-green {
    background: #fafff5;
}
.bg-blue {
    background: #f5fffe;
}
.bg-bluedark {
    background: #080939;
}
.bg-pink {
    background: #f5fffe;
}
.bg-purple {
    background: #f5fffe;
}
.bg-cta {
    background: #ff4742;
}

.text-bluedark {
    color: #080939;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0b1255;
}

a.button {
    background: #080939;
}
a.like:active {
    transform: rotate(7deg);
}

.content {
    h2 {
        font-size: 1.2em;
        font-weight: 600;
        margin: 40px 0 20px;
    }

    ul {
        list-style: inside;
    }
}

@media only screen and (max-width: 770px) {
    .categories {
        span {
            display: none;
        }
    }
}
